<!DOCTYPE html>
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Tanks Colored
        link(rel="stylesheet", href="./css/style.css")
        link(rel="shortcut icon", href="../img/pruebas.png", type="image/png")
        script(src="./js/phaser.js")
    body
        h1 Tanks Colored of War
            p para mover el Tanque  es con las teclas fecha izq y der; <br> para mover el cañón es con las teclas flechas arb y aba. <br> Solo sirve en ordenadores o Computadoras.
        script(src="js/statusGame/principal.js")
